.call {
  position: relative;
  width: 100%;
}

.local-view {
  left: 20px;
  position: absolute;
  top: 20px;
  transform: rotateY(180deg);
  width: 100px;
  z-index: 2;
  -webkit-filter: brightness(1250%);
}

.remote-view {
  max-height: 100%;
  width: 100%;
}

.live-contacts {
  margin-bottom: 8px;
  padding: 0;
}

.live-contact,
.live-contact-connected {
  background-color: green;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 0 4px 4px 0;
  padding: 8px 12px;
  text-decoration: none;
  vertical-align: middle;
}

.live-contact-connected {
  background-color: red;
  color: white;
}
